
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
body, html{        
    height: 100vh;
}

body{       
    -webkit-font-smoothing: antialiased;
}
button, input, select, option, label, textarea{
    font-family: sans-serif;
}
ul,ol{
    list-style: none;
}
button, link, a{
    cursor: pointer;
}
input, textarea, select{
    border-radius: 0;
    border: none;
    background: transparent;
}
